# JWT Configuration
BETTER_AUTH_SECRET=Xp2Pai0rYqduM32JBoNYaqWYVQjZEIWk

# Frontend Configuration
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_PI27GCiafTWl@ep-divine-hall-a4exapdh-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_DB_URL=postgresql+asyncpg://username:password@ep-xxx.us-east-1.aws.neon.tech/todo_db?sslmode=require